$green: #8f8e6b;
$green2: #233017;
$cream: #eeddcc;
$blue: #5e6d86;
$grey: #bcaaaa;
$tan: #f1cca6;
$red: rgb(194, 78, 78);
$font1: 'Lato', sans-serif;
$font2: 'Roboto Slab', serif;
$font3: 'Noto Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


footer{
    width: 100vw;
    height: 2em;
    // border: 2px dashed green;
    padding: 0;
    // margin-top: 2em;
    ul{
        // border: 2px solid blue;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 100%;
        padding: .8em 0;
        margin: 0;
        background-color: black;
        li{
            list-style-type: none;
            // border: 2px solid black;
            font-weight: 1000;
            color: white;
            
        }
    }
}



// desktop only styles

@media only screen and (min-width: 500px){
    .projects{
        min-height: 70vh;
    }
    body{
        background-color: $blue;
    }
    .line{
        margin-bottom: -1em;
    }

    .mobile-nav{
        visibility: hidden;
    }
    
    header{
        color: white;
    
        a{
            color: white;
        }
    }
    
    .fa {
        padding: 10px;
        font-size: 90px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        transform: scale(1.5);
      }
    
      .fa-instagram{
        //   background-color: red;
      }
    
      .fa:hover{
          opacity: 0.7;
      }
    
      .project{
          display: flex;
          align-items: center;
          h2{
              font-size: 3em;
              color: $blue;
          }
          p{
              font-size: 1.3em;
          }
          img{
              width: 25%;
              margin: 0 5%;
              border-radius: 3%;
          }
          .info{
              width: 75%;
              display: flex;
              flex-direction: column;
              align-items: center;
              p{
                  width: 75%;
                  text-align: center;
              }
          }
      }
    
      .jof{
          background-color: $green;
          width: 100%;
          padding: 2em 0;
    
          h2{
              color: $tan;
          }
      }
    
      .citrus{
          background-color: $tan;
          width: 100%;
      }
}





// mobile only styles





@media only screen and (max-width: 500px) {
   
    body{
        background-color: $blue;
        // border: 3px solid white;
        margin: 0px;
        // overflow: hidden;
    }
    .desktop-nav{
        visibility: hidden;
        margin-left: -200px;
    }
    .mobile-nav{
        .menu{
            // visibility: hidden;
            position: absolute;
            top: -50%;
            margin: 0;
            padding: 0;
            z-index: 3;
            width: 100vw;
            height: 37vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // border: 2px solid black;
            align-items: center;
            background-color: #eeddcc;
            // border-radius: 10px 10px 10px 10px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
            
            
            li{
                
                font-size: 2em;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // border: 2px solid black;
                margin: 0;
                
                
                a{
                    margin: 0;
                    color: $red;
                    padding: .5em;
                    // background-color: $cream;
                    // border: 2px solid black;
                    border-radius: 20px 20px 20px 20px;
                    // box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.61);
                    z-index: 90;
                    // text-shadow: 2px 5px 2px black;
                }
                a:hover{
                    opacity: .8;
                }
            }
        }
    }
    .head-title{
        width: 99vw;
        margin: 0;
        // border: 2px solid green;
        position: absolute;
        top: 15%;
        color: white;
    }
    .line{
        width: 50vw;
        height: 3px;
        margin: 0;
        position: absolute;
        left: 25vw;
        top: 21%;
        // border: 2px solid red;
    }
    header{
        overflow-x: hidden;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        color: white;

        .header{
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0;
            .title{
                align-self: flex-start;
                display: flex;
                flex-direction: row;
                // border: 2px solid black;
                padding: 0 1em;
                width: 90vw;
                justify-content: space-between;
                color: white;

                #lucas{
                    color: white;
                    // height: 1em;
                }

                
                
                .hamburger{
                    // border: 2px solid black;
                    height: 25px;
                    width: 25px;
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    z-index: 9;

                    .borgar{
                        height: 4px;
                        width: 100%;
                        background-color: white;
                    }
                }
        
            }
            
        }
       
    }
    .fa {
        padding: 10px;
        font-size: 90px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        transform: scale(1.5);
      }
    
      .fa-instagram{
        //   background-color: red;
      }
    
      .fa:hover{
          opacity: 0.7;
      }
    .projects{
        margin-top: 60%;
        
        // border: 3px dashed green;

    }
    .project{
          display: flex;
          align-items: center;
          width: 90%;
          
        //   border: 2px solid pink;
          h2{
              font-size: 3em;
              color: $blue;
              width: 50%;
          }
          p{
              font-size: 1.3em;
              text-align: center;
          }
          .links{
              text-align: center;
          }
          img{
            position: absolute;
            width: 150px;
            height: 180px;
          }
          .c-logo{
              top: 245px;
              left: 60%;
          }
          .jof-logo{
              left: 60%;
              height: 150px;
              top: 680px;
          }
          .jof-one{
              margin-left: .7em;
          }
          .jof-fern{
              padding-left: 1.4em;
          }
      }
    
      .jof{
          background-color: $green;
          width: 100%;
    
          h2{
              color: $tan;
          }
      }
    
      .citrus{
          background-color: $tan;
          width: 100%;
      }

}