$green: #8f8e6b;
$green2: #233017;
$cream: #eeddcc;
$blue: #5e6d86;
$grey: #bcaaaa;
$tan: #f1cca6;
$red: rgb(194, 78, 78);
$font1: 'Lato', sans-serif;
$font2: 'Roboto Slab', serif;
$font3: 'Noto Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth;
}
// DESKTOP ONLY STYLES 
@media only screen and (min-width: 500px){
    // CUSTOM SCROLLBAR WITH COLOR 
    ::-webkit-scrollbar{
        width: 1em;
    }
    ::-webkit-scrollbar-track {
        background-color: $green;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: $blue;
    }
    
    body {
        // GENERAL SITE FONT PROPERTIES 
        margin: 0;
        background-color: white;
        font-family: $font1;
        overflow-x: hidden;

        h1{
            font-family: $font1;
            letter-spacing: .1em;
        }

        a{
            list-style: none;
            text-decoration: none;
            color: black;
            color: white;
        }
    }

    .contain {
        // CONTAIN THE background-image
        overflow: hidden;
        width: 10vw;
    }

    .header {
        // ALIGN SITE TITLE AND NAV MENU 
        z-index: 5;
        display: flex;
        position: relative;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6em;
        margin-top: 2em;
        ul{
            // ALIGN NAV MENU 
            display: flex;
            overflow: hidden;
            width: fit-content;
            .li2{
                margin-right: 2em;
            }

            li{
                // MENU STYLES 
                list-style: none;
                padding: .5em 0em;
                letter-spacing: .1em;
                display: flex;
                position: relative;
                overflow: hidden;
                width: 9em;
                justify-content: center;
                
                a:before{
                    // MENU HOVER ANIMATION TOP 
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: 50%;
                    height: 2px;
                    background: $blue;
                    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                a:after{
                    // MENU HOVER ANIMATION BOTTOM 
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                    width: 50%;
                    height: 2px;
                    background: $blue;
                    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
                }
                a:hover:before{    
                    right: 0;
                }
                a:hover:after{
                    left: 0;
                }
                a:hover{
                    // MENU HOVER ANIMATION TEXT 
                    color: $tan;
                    font-weight: 800;
                    text-shadow: 0px 0px 1px $grey;
                    transition: .3s;
                }

               
            }


        }
    }

    .image-absolute {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        // left: 1/200px;
        min-width: 100%;
        overflow-x: hidden;
        height: 100vh;
        img{
            height: 100vh;
            min-width: 99.1vw;
            overflow-x: hidden;
            filter: blur(3px);
            filter: brightness(75%);
        }
    }

    .container {
        max-width: 1200px;
        width: 100%;
    }

    .content {
        position: relative;
        margin: auto;
        // border: 2px solid red;

        .section1{
            // display: flex;

            .about{
                // width: 50%;
                width: fit-content;
                // margin-top: 25%;
                // margin-left: 15%;
                color: black;
                margin: auto;
                padding: 0 2em;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 15vh;
                margin-left: 28%;
                background-color: $tan;
                font-family: $font2;
                box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.61);
                .web{
                    color: rgb(194, 78, 78)
                }
                .mus{
                    color: $blue;
                }
                .invent{
                    color: $green;
                }
            }
        }
    }
    .arrow-animation{
        border: 2px solid yellow;
        height: 120px;
        width: 100px;
    }
    .button{
        position: absolute;
        margin: 0 44%;
        top: 35vh;
        // border: 2px solid red;
        height: 120px;
        width: 100px;
        left: 30px;
    
            .aboutme{
                position: absolute;
                left: 8px;
                // border: 2px solid red;
            }
        
            .arrow{
                
                .both{
                    background-color: $tan;
                    width: 4em;
                    height: .5em;
                    z-index: 3;
                    position: absolute;
                }
                .left{
                    right: 38px;
                    transform: rotate(45deg);
                }
                .right{
                    left: 38px;
                    transform: rotate(-45deg);
                }
            }
    }

    .button:hover{
        .arrow{
            margin-top: 100px;
            // margin-bottom: 58px;
            transition: .5s;
        }
    }

    .button:not(:hover){
        .arrow{
            margin-top: 80px;
            // margin-bottom: 58px;
            transition: .5s;
        }
    }

    #bio{
        position: relative;
        display: flex;
        // border: 2px solid red;
        margin-top: 55vh;
        justify-content: center;
        align-items: center;
        text-align: center;

        

        .skills-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            // border: 2px solid blue;
            h2{
                background-color: $tan;
                color: $red;
                font-size: 1.5em;
                font-weight: 800;
                padding: .5em 4em;
            }
            ul{

                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // border: 2px dashed yellow;
                // overflow: hidden;
                // height: fit-content;
                // text-align: center;
                li{
                    background-color: black;
                    color: white;
                    padding: .5em 1em;
                    margin-bottom: 1em;
                    list-style-type: none;
                    // border: 2px solid green;
                    text-indent: 0;
                    margin-left: -2.5em;
        
                }
            }
            
        }

        .mini-bio{
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: center;
            padding: 0 5em;
            line-height: 2em;
            font-size: 1.2em;
        }
    }
}

footer{
    width: 100vw;
    height: 2em;
    // border: 2px dashed green;
    padding: 0;
    margin-top: 2em;
    ul{
        // border: 2px solid blue;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 100%;
        padding: .8em 0;
        margin: 0;
        background-color: black;
        li{
            list-style-type: none;
            // border: 2px solid black;
            font-weight: 1000;
            color: white;
            
        }
    }
}