$green: #8f8e6b;
$green2: #233017;
$cream: #eeddcc;
$blue: #5e6d86;
$grey: #bcaaaa;
$tan: #f1cca6;
$red: rgb(194, 78, 78);
$font1: 'Lato', sans-serif;
$font2: 'Roboto Slab', serif;
$font3: 'Noto Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
