$green: #8f8e6b;
$green2: #233017;
$cream: #eeddcc;
$blue: #5e6d86;
$grey: #bcaaaa;
$tan: #f1cca6;
$red: rgb(194, 78, 78);
$font1: 'Lato', sans-serif;
$font2: 'Roboto Slab', serif;
$font3: 'Noto Serif', serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    background-color: $blue;
}

header{
    color: whitesmoke;
    h1{
        color: whitesmoke;
    }
    a{
        color: whitesmoke;
    }
}

.head-title{
    text-align: center;
    margin-top: -2em;
    margin-bottom: 2em;
}

.cards{
    // border: 2px dashed aqua;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    .card{
        border: 1px solid $green;
        width: 400px;
        background-color: $cream;
        padding: 1em;
        border-radius: 1em;
        color: white;
         transition: .3s ease;
         h2{
            color: $red;
            height: 5%;
         }
         p{
             color: $blue;
             height: 20%;
         }
        img{
            width: 95%;
            height: 50%;
            border-radius: 1em;
        }
        .card-buttons{
            display: flex;
            height: 10%;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            // border: 2px solid red;
            a{
                width: 30%;
                background-color: $red;
                height: 80%;
                padding: 0 .7em;
                padding-top: .7em;
                padding-bottom: -.3em;
                border-radius: 10px 10px 10px 10px;
                color: whitesmoke;
            }
            a:hover{
                opacity: 0.7;
            }
        }
    }
    .card:hover{
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.507);
        transition: .3s ease;
        transform: scale(1.01);
    }
}